#header {
  position: fixed; }
  #header #logo {
    font-size: 30px; }
  #header #nav {
    min-width: 700px;
    float: left; }
    #header #nav a {
      margin-left: 10%;
      font-size: 30px; }

.tablet #header {
  position: fixed; }
  .tablet #header #logo {
    font-size: 20px; }
  .tablet #header #nav {
    min-width: 500px;
    float: left; }
    .tablet #header #nav a {
      margin-left: 5%;
      font-size: 20px; }

.mobile {
  min-width: 500px; }
  .mobile #github-ribbon {
    position: absolute; }
  .mobile #header {
    position: absolute; }
    .mobile #header #logo {
      font-size: 15px; }
    .mobile #header #nav {
      min-width: 500px;
      float: left; }
      .mobile #header #nav a:first-child {
        margin-left: 0; }
      .mobile #header #nav a {
        font-size: 15px; }
