#header {
  position: fixed; }
  #header #logo {
    font-size: 30px; }
  #header #nav {
    min-width: 700px;
    float: left; }
    #header #nav a {
      margin-left: 10%;
      font-size: 30px; }

.tablet #header {
  position: fixed; }
  .tablet #header #logo {
    font-size: 20px; }
  .tablet #header #nav {
    min-width: 400px;
    float: left; }
    .tablet #header #nav a {
      margin-left: 5%;
      font-size: 20px; }

.mobile {
  min-width: initial; }
  .mobile .demo .sample-popscript-code {
    display: none; }
  .mobile .demo .right-area {
    width: 100% !important; }
  .mobile .sphinxsidebar {
    margin-left: -260px; }
  .mobile #github-ribbon {
    position: absolute; }
  .mobile #header {
    opacity: 0.9; }
    .mobile #header #logo {
      font-size: 15px; }
    .mobile #header #nav {
      min-width: initial; }
      .mobile #header #nav a {
        margin-left: 21px;
        font-size: 15px; }
