$left-pad: 5%;
$sample-popscript-width:40;
$header-height: 65px;
$nice-border: 2px solid rgb(220,220,220);
$display-font:'Skranji';
$text-font:'Noto Sans';
$header-zindex: 1000;
$display-font-medium-size:25px;
$display-font-large-size:40px;
$background-color:whitesmoke;
$that-red:rgb(230,18,28);
$that-green: rgb(92, 171, 83);