extend base

block content
    #content.cf.demo
        #download-table-wrapper
        table#download-table
          tr
            td Library
            td(colspan='2')
              a(href='/v2/dist/popscript.js') popscript.js
          tr
            td Boilerplate
            td
              a(href='/v2/dist/popscript-boilerplate.css') popscript-boilerplate.css
            td
              a(href='/v2/dist/popscript-boilerplate.js') popscript-boilerplate.js
