extend base
block append google_prettify_theme
    link(rel='stylesheet', type='text/css', href='/static/css/dark-prettify-theme.css')
block content
    #content.cf
        h1.left-pad.right-pad(style='margin:30px 0')
            | Documentation is coming soon. Till then, please refer to the <a href="demo.html">demo</a> page

