extend base
block append google_prettify_theme
    link(rel='stylesheet', type='text/css', href='/static/css/dark-prettify-theme.css')
block content
    #content.cf.demo
        #download-table-wrapper
            table#download-table
                tr
                    td
                        | JS (pick any 1)
                    td
                        a(href="src/popscript.js") popscript.js
                    td
                        a(href="src/popscript.min.js") popscript.min.js
                tr
                    td
                        | CSS
                    td(colspan=2)
                        a(href="src/popscript.css") popscript.css



