@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);


$left-pad: 45px;
$header-height: 65px;
$nice-border: 2px solid rgb(220,220,220);
$display-font:'Skranji';
$text-font:'Noto Sans';
$header-zindex: 1000000;
$display-font-medium-size:25px;
$display-font-large-size:40px;


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $display-font;
}

body {
  background-color: whitesmoke;
  font-family: $text-font, verdana;
  font-size: 18px;
  /*min-height: 5000px;
  min-width: 5000px;*/
}


#header {
  position: fixed;
  z-index: $header-zindex;
  width: 100%;
  top: 0;
  background-color: black;
  background-image: repeating-linear-gradient(10deg, rgb(55, 55, 55), rgb(55, 55, 55) 13%, black 13%, black 26%);
  padding-left: $left-pad;
  a {
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    margin-left: 150px;

    border-right-width: 0;
    color: white;
    font-size: 30px;
    text-align: center;

    font-family: $display-font;
    line-height: $header-height;

  }

  a:hover {
    color: yellow;
    //border-bottom:3px solid #ff5858;

  }

  #logo {
    margin-left: 0;
    padding-left: 0;
    width: auto;
    border-left-width: 0;

    font-family: 'Sigmar One';
    letter-spacing: 1px;
    border: none;

  }

  #logo span {
    font-family: inherit;

  }
  #logo span:first-child {
    border-radius: 100%;
    background-color: #ff5858;
    ackground-image: -webkit-linear-gradient(top, #ff5858, #bc2d35 100%);
    padding: 19px;

    color: white;

  }
  #logo span:last-child {
    color: #7684ff;
    color: #ff5858;
  }
}

#content {
  margin-top: $header-height;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;


  #intro-line {
    padding: 30px 0 30px $left-pad;
    border-bottom: $nice-border;
    font-size:25px;

  }
  #sample-popscript-code {
    //width: 50%;
    width: 45%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;

    > h1 {
      padding: 10px $left-pad;
      font-family: $display-font;
      border-bottom: $nice-border;
      font-size: $display-font-large-size;
    }

    pre {
      font-weight: bold;
    }

  }
  #main-features {
    float: left;


    width: 55%;

    overflow: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: $nice-border;
    > div {
      padding: 20px;
      border-bottom: $nice-border;
      > h2 {
        margin: 10px 0;
        font-size: $display-font-medium-size;
        > i {
          margin-right: 15px;
        }
      }
      > div p {
        color: rgb(80,80,80);

      }
    }
  }

}


#github-ribbon{
  position: fixed !important;
  z-index: $header-zindex;
}
