@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

$left-pad: 45px;
$header-height: 65px;
$main-features-border: 2px solid rgb(220,220,220);

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Skranji'
}

body {
  background-color: whitesmoke;
  font-family: 'Noto Sans', verdana;
  font-size: 18px;
  /*min-height: 5000px;
  min-width: 5000px;*/
}

#header {
  position: fixed;
  z-index: 100000000;
  width: 100%;
  top: 0;
  background-color: black;
  background-image: -webkit-repeating-linear-gradient(top, rgb(60, 60, 60), rgb(60, 60, 60) 13%, black 13%, black 26%);
  padding-left: $left-pad;
  a {
    display: block;
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    margin-left: 150px;

    border-right-width: 0;
    color: white;
    font-size: 30px;
    text-align: center;

    font-family: 'Skranji', verdana;
    line-height: $header-height;

  }

  a:hover {
    color: yellow;
    //border-bottom:3px solid #ff5858;

  }

  #logo {
    margin-left: 0;
    padding-left: 0;
    width: auto;
    border-left-width: 0;

    font-family: 'Sigmar One';
    letter-spacing: 1px;
    border: none;

  }

  #logo span {
    font-family: inherit;

  }
  #logo span:first-child {
    border-radius: 100%;
    background-color: #ff5858;
    ackground-image: -webkit-linear-gradient(top, #ff5858, #bc2d35 100%);
    padding: 19px;

    color: white;

  }
  #logo span:last-child {
    color: #7684ff;
    color: #ff5858;
  }

}

#content {
  margin-top: $header-height;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: $left-pad;

  #sample-popscript-code {
    width: 50%;
    float: left;

    pre {
      font-weight: bold;
    }

  }
  #main-features {
    float: left;
    width: 50%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: $main-features-border;
    > div {
      padding: 20px;
      border-bottom: $main-features-border;
      > h2 {
        margin: 10px 0;
        font-size: 25px;
        > i {
          margin-right: 15px;
        }
      }
      > div p {
        color: rgb(80,80,80);
        font-style: italic;
      }
    }
  }

}
