/* Advanced */
.popscript-move {
    cursor: move;
}
/* End of Advanced */

/* Intermediate */

.simple-box {

    background-color: rgb(240, 240, 240);

    border: 1px solid rgb(200, 200, 200);
    box-shadow: 1px 1px 1px rgb(150, 150, 150);
    width: 310px;
    padding: 20px;

}

.curtain {
    background-color: rgba(0, 0, 0, 0.3);

}

.error-pop {
    background-color: #ff475a;
}


.cross {
    color: grey;
    background-color: transparent;
    width: 15px;
    text-align: center;
    margin: 2px 2px 0 0;
    padding: 1px;
    font-family: sans-serif;
    font-size: 16px;
}

.cross:hover {
    color: #ffffff;
    background-color: #ff475a;
    border-radius: 100%;

}

.cross:active {
    color: black;
    box-shadow: 0 0 1px 1px #00008b
}

/***end of popups**/



.popscript-tooltip {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    cursor: default;

    background-color: rgb(20,20,20);
    max-width: 250px;
    border-radius: 4px;

    padding: 7px 10px;
    color: white;

}

.popscript-tooltip:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;

    font-size: 0;
    line-height: 0;
}


.popscript-tooltip.left:after {
    left:-10px;
    top:8px;
    border-bottom: 8px solid transparent;  /* left arrow slant */
    border-top: 8px solid transparent; /* right arrow slant */
    border-right: 10px solid rgb(20,20,20); /* bottom, add background color here */
}

.popscript-tooltip.right:after {
    right:-10px;
    top:8px;
    border-bottom: 8px solid transparent;  /* left arrow slant */
    border-top: 8px solid transparent; /* right arrow slant */
    border-right: 10px solid rgb(20,20,20); /* bottom, add background color here */
}

.popscript-tooltip.up:after {
    left:120px;
    top:8px;
    border-bottom: 8px solid transparent;  /* left arrow slant */
    border-top: 8px solid transparent; /* right arrow slant */
    border-right: 10px solid rgb(20,20,20); /* bottom, add background color here */
}

.popscript-tooltip.down:after {
    left:120px;
    bottom:8px;
    border-bottom: 8px solid transparent;  /* left arrow slant */
    border-top: 8px solid transparent; /* right arrow slant */
    border-right: 10px solid rgb(20,20,20); /* bottom, add background color here */
}


/**animations**/

@-webkit-keyframes fade-in {
    from {
        background: rgba(0, 0, 0, 0)
    }
    to {
        background: rgba(0, 0, 0, .3)
    }
}

@keyframes fade-in {
    from {
        background: rgba(0, 0, 0, 0)
    }
    to {
        background: rgba(0, 0, 0, .3)
    }
}


@-webkit-keyframes zap-in {
    from {
        opacity: 0.1;
        -webkit-transform: scale(0.6, 0.6)
    }
    to {
        -webkit-transform: scale(1, 1)
    }
}

@keyframes zap-in {
    from {
        opacity: 0.1;
        transform: scale(0.6, 0.6)
    }
    to {
        transform: scale(1, 1)
    }
}

@-webkit-keyframes fade-out {
    from {
       opacity: 1;
    }
    to {
        opacity:0.3;
    }
}



@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity:0.3;
    }
}

@-webkit-keyframes zap-out {
    from {
        -webkit-transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(0.2, 0.2);
        opacity: 0.1;
    }
}

@keyframes zap-out {
    from {
        transform: scale(1, 1)
    }
    to {
        transform: scale(0.2, 0.2);
        opacity: 0.1;
    }
}








@keyframes short-arrive-left-fade-in {
    from {
        transform: translate(20px, 0);
        opacity: 0.2;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}


@-webkit-keyframes short-arrive-left-fade-in {
    from {
        -webkit-transform: translate(20px, 0);
        opacity: 0.2;
    }
    to {
        -webkit-transform: translate(0, 0);
        opacity: 1;
    }
}


/* End of Advanced */
